caption,table,th,td,tr {
  border: 1px solid black;
}

.country {
  font-weight: normal;
  font-style: italic;
}

.outer-content {
  background-color: pink;
  position: relative;
  width: 75%;
  height: 60px;
  padding-top: 20px;
}

.inside-content {
  background-color: Lightblue;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}